[Unit]
Description=Heartbeat Server
After=network.target

[Service]
WorkingDirectory=/srv/heartbeat/current
ExecStart=/usr/bin/dotnet /srv/heartbeat/current/Heartbeat.Server.dll --urls http://0.0.0.0:5023
Restart=on-failure
RestartSec=10
Environment=ASPNETCORE_ENVIRONMENT=Production
EnvironmentFile=/srv/heartbeat/.env
SyslogIdentifier=heartbeat
User=shenxianovo

[Install]
WantedBy=multi-user.target
